<% if(card.escape("description")) { %>
  <%= card.escape("description") %> <a href="#" class="edit-descr"> <span class="glyphicon glyphicon-pencil"></span></a>
<% } else { %>
   <div class="add-descr">Add description...</div><br>
<% } %>
