<!-- Add Card -->


<form role="form">
  <div class="card-form" align="center">
    <input type="hidden" name="card[list_id]" value="<%= listID %>" id="list_id">
    <input type="hidden" name="card[rank]" value="<%= rank %>" id="card_rank">
  
    <input type="text" name="card[title]" class="input-sm new-item-input form-control" id="title" placeholder="Untitled Card" autofocus="autofocus">
    <!-- <input type="text" name="card[description]" class="form-control" id="description" placeholder="Description"> -->
  </div>

  <button type="submit" class="new-card btn btn-success">Create</button>
  <button class="btn btn-lg btn-cancel cancel-new-card"><span class="glyphicon glyphicon-remove"></span></button>
</form>
