<div class="row">
  <div class="col-md-4 col-md-offset-2">
    <h3>Create A Board</h3>
    <br>

    <form role="form">
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" name="board[title]" placeholder="Untitled Board" id="title">
      </div>
  
      <button type="submit" class="new-board btn btn-success">Create</button>
    </form>
  </div>
</div>