<!-- <div class="row">
  <div class="col-md-4 col-md-offset-1"> -->
    <h2>My Boards</h2>

    <div class="boards-container">
      <% boards.each(function(board) { %>
        <div class="board">
          <strong><h3><span class="glyphicon glyphicon-tasks"></span> <a href="#/boards/<%= board.escape("id") %>"><%= board.escape('title') %></a></h3></strong>
        </div>
      <% }) %>
    </div>

    <br>

    <a href="#/boards/new">New Board</a>
  <!-- </div>
</div> -->