<!-- <div class="row">
  <div class="col-md-4 col-md-offset-1"> -->
    <h2 id="boards-index-header">My Boards</h2>
    
    <!-- <hr> -->

    <div class="boards-container">
      <% boards.each(function(board) { %>
        <a href="#/boards/<%= board.escape("id") %>" class="board-div">
          <div class="board">
          <strong><h3><span class="glyphicon glyphicon-tasks"></span> <%= board.escape('title') %></h3></strong>
        </div>
      </a>
      <% }) %>
    </div>

    <br>

    <a href="#/boards/new">New Board</a>
  <!-- </div>
</div> -->