<div class="row">
  <div class="board-title">
    <h2><%= board.escape("title") %>
    <button class="remove-board btn btn-danger btn-sm"><span class="glyphicon glyphicon-trash"></span> Delete Board</button></h2>
  </div>
  
  <!-- <div class="panel-group clearfix board-member-panel" id="accordion">
    <div class="panel panel-default">
      <a data-toggle="collapse" data-parent="#accordion" href="#members">
        <h5 class="panel-title">
            Board Members <b class="caret"></b>
        </h5>
      </a>
      <div id="members" class="panel-collapse collapse">
        <div class="panel-body">
          <ul class="board-members" align="left">
          </ul>
    
          <button class="new-member btn btn-default btn-sm">Add Member</button>
          <div class="new-member-form">
          </div>
        </div>
      </div>
    </div>
  </div> -->
    
  <div class="members">
    <button class="btn btn-members" data-toggle="modal" data-target=".members-modal">Board Members</button>
  
    <div class="modal fade members-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Board Members</h4>
          </div>
    
          <ul class="board-members" align="left">
          </ul>

          <button class="new-member btn btn-default btn-sm">Add Member</button>
          <div class="new-member-form">
          </div>
        </div>
      </div>
    </div>
  </div>
    
</div>



  
  <!-- <div>
    <h5>Board Members</h5>
  
    <ul class="board-members">
    </ul>
    
    <button class="new-member btn btn-default btn-sm">Add Member</button>
    <div class="new-member-form">
    </div>
  </div> -->
    
<div class="row">
  <div class="lists lists-container">
  </div>

  <div class="new-list-container">
    <!-- <a class="new-list btn btn-default">Add a list...</a> -->
    
    <a href="#" class="add-list-link">
      <div class="add-list-link-container">Add a list...</div>
    </a>
  
    <div class="new-list-form">
    </div>
  
  </div>
</div>