<div class="row">
  <div class="col-md-4 col-md-offset-2">
    <h3><%= board.escape("title") %></h3>

    <h5>Lists</h5>
    <ul>
      <% lists.each(function(list) { %>
        <li><%= list.escape("title") %></li>
      <% }) %>
    </ul>
  </div>
</div>