<div class="row">
  <div class="col-md-4 col-md-offset-2">
    <div class="content">
      <h3><%= board.escape("title") %></h3>
      
      <button class="remove-board btn btn-default">Delete Board</button>
      <br><br>

      <h5>Board Members</h5>
      
      <ul class="board-members">
      </ul>
      
      <br>
      <button class="new-member btn btn-default">Add Member</button>
      
      <div class="new-member-form">
      </div>
      
      <br><br>

      <h5>Lists</h5>
      <ul class="lists">
      </ul>
      <!-- <ul>
        <% lists.each(function(list) { %>
          <li><%= list.escape("title") %></li>
        <% }) %>
      </ul> -->
    </div>
    
    <br>
    <button class="new-list btn btn-default">Add List</button>
    
    <div class="new-list-form">
    </div>
  </div>
</div>