<center>
  <h2><%= board.escape("title") %>
    <button class="remove-board btn btn-danger btn-sm"><span class="glyphicon glyphicon-trash"></span> Delete Board</button></h2>
  
  <div class="panel-group board-member-panel" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h5 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#members">
            Board Members
          </a>
        </h5>
      </div>
      <div id="members" class="panel-collapse collapse">
        <div class="panel-body">
          <ul class="board-members" align="left">
          </ul>
    
          <button class="new-member btn btn-default btn-sm">Add Member</button>
          <div class="new-member-form">
          </div>
        </div>
      </div>
    </div>
  </div>
  
</center>
  
  <!-- <div>
    <h5>Board Members</h5>
  
    <ul class="board-members">
    </ul>
    
    <button class="new-member btn btn-default btn-sm">Add Member</button>
    <div class="new-member-form">
    </div>
  </div> -->
    
<div class="row">
  <div class="lists lists-container">
  </div>

  <div class="new-list-container">
    <!-- <a class="new-list btn btn-default">Add a list...</a> -->
    
    <a href="#" class="add-list-link">
      <div class="add-list-link-container">Add a list...</div>
    </a>
  
    <div class="new-list-form">
    </div>
  
  </div>
</div>