<div class="content">
  <h3><%= board.escape("title") %>
    <button class="remove-board btn btn-default btn-sm">Delete Board</button></h3>
  
  <div>
    <h5>Board Members</h5>
  
    <ul class="board-members">
    </ul>
    
    <button class="new-member btn btn-default btn-sm">Add Member</button>
    <div class="new-member-form">
    </div>
  </div>

  <br><br>
    
    <div class="lists-container">
      <h5>Lists</h5>
      <ul class="lists">
      </ul>

      <div>
        <button class="new-list btn btn-default">Add List</button>
        <div class="new-list-form">
        </div>
      </div>
    </div>
</div>