<h4>Add Member to Board</h4>

<div class ="col-xs-4">
  <form role="form">
    <div class="form-group">
      <label for="title">Member email</label>
      <input type="text" name="user_email" class="form-control" id="user_email" placeholder="User's email">
    </div>
  
    <button type="submit" class="new-member btn btn-default">Add Member</button>
  </form>
</div>

<br><br><br><br>