<h4>Add Member to Board</h4>

<form role="form">
  <div class="form-group">
    <input type="hidden" name="board_assignments[board_id]" value="<%= boardID %>" id="list_board_id">
    
    <label for="title">Member email</label>
        <input type="text" name="user_email" class="form-control" id="user_email" placeholder="User's email">
    <!-- <input type="text" name="board_assignments[user_email]" class="form-control" id="username" placeholder="Username"> -->
  </div>
  
  <button type="submit" class="new-list btn btn-default">Add Member</button>
</form>
