/*
 *
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

$navbar-height: 40px;
$navbar-default-bg: #2A586B;
//$navbar-default-link-bg: #3A82A1;
$navbar-default-link-hover-color: #FFFFFF;
$navbar-default-link-hover-bg: transparent;
$navbar-default-link-color: #FFFFFF;

@import "bootstrap";

html, body {
  min-height: 100%;
}

body {
  padding-top: 40px;
  background-color: #336E87;
  color: #ffffff;
  overflow-x: hidden;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif; 
  font-weight: 400;
}

footer {
  margin: 30px auto;
  margin-bottom: 0;
  padding-top: 10px;
  border-top: 1px #ffffff solid;
//  background-color: #336E87;
}

input {
  color: #000000;
}

div.nav {
  padding: 1px;
}

.navbar-brand {
  font-family: "Rockwell";
  font-weight: 300;
  font-size: 21px;
}

.nav-link {
  margin-top: 0px;
  margin-bottom: -6px;
  padding: 0;
//  background-color: #3D8CAD;
  color: #ffffff;
  border-radius: 3px;
}

.nav-link:hover {
  opacity: 0.6;
//  border: 1px #ffffff solid;
//  background-color: #3E8CAD;
}

a {
  color: #ffffff;
}

a:hover {
  text-decoration: underline;
  color: #ffffff;
}

.jumbotron {
  width: 70%;
  background-color: rgba(255, 255, 255, 0.6);
  color: #234757;
  border-radius: 5px;
}

.jumbotron::after {
  content: "";
  background: url('tasks.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% auto;
  opacity: 0.5;
  top: 40px;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  min-height: 94%; 
}

.container {
  margin: 0 5px;
  min-width: 100%;
  min-height: 500px;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background-color: #336E87;
}
 
::-webkit-scrollbar-thumb {
//  background-color: rgba(0, 0, 0, 0.2);
  background-color: #91B7C7;
  border-radius: 5px;
}

::-webkit-scrollbar-corner {
  background-color: #336E87;
}

// cards scrollbars
.cards-list::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.cards-list::-webkit-scrollbar-track {
  background-color: #DBDBDB;
}
 
.cards-list::-webkit-scrollbar-thumb {
//  background-color: rgba(0, 0, 0, 0.2);
  background-color: #A3A3A3;
  border-radius: 5px;
}

.cards-list::-webkit-scrollbar-corner {
  background-color: #DBDBDB;
}

.new-board-dropdown {
  color: #000000;
  width: 400px;
  padding: 15px;
  padding-top: 0;
}

.dropdown-menu {
  background-color: #FAFAFA;
}

.board {
  margin: 15px;
  width: 30%;
  padding: 0px 5px 20px 20px;
  background-color: #91B7C7;
  color: #ffffff;
  display: inline-block;
  border-radius: 3px;
  -webkit-box-shadow: 5px 5px 6px -4px black;
  -moz-box-shadow: 5px 5px 6px -4px black;
  box-shadow: 5px 5px 6px -4px black;
}

.board:hover {
  -webkit-box-shadow: 5px 5px 6px -1px black;
  -moz-box-shadow: 5px 5px 6px -1px black;
  box-shadow: 5px 5px 6px -1px black;
}

a.board-div {
  text-decoration: none;
}

div.board-title {
  float: left;
  margin: 0 30px;
  display: inline-block;
}

.members-modal {
  color: #000000;
}

.members {
  margin-top: 20px;
  margin-bottom: 10px;
  border: 0px;
}

.btn-members {
  background-color: #2A586B;
}

.btn-members:hover {
  text-decoration: underline;
  color: inherit;
}

.modal {
  color: #000000;
}

.modal-content {
  padding: 15px;
  background: #f0f0f0;
}

.modal-header {
  padding: 0 10px;
  margin-bottom: 10px;
}

.all-lists-container {
//  display: inline-block;
  white-space: nowrap;
//  overflow-y: hidden;
  overflow-x: auto; // adds scrollbar to window for lists
}

.lists-container > div {
//  float: left;
//  min-width: 100%;
//  white-space: nowrap;
//  width: auto;
//  overflow: hidden;
  display: inline-block;
  vertical-align: top;
}

.list-container {
  margin: 5px;
  margin-bottom: 20px;
  width: 250px;
  min-width: 200px;
  padding: 4px 3px 3px;
  background-color: #DBDBDB;
  color: #000000;
//  display: inline-block;
  border-radius: 3px;
//  position: relative;
  -webkit-box-shadow: 6px 6px 8px -4px black;
  -moz-box-shadow: 6px 6px 8px -4px black;
  box-shadow: 6px 6px 8px -4px black;
}

.list-container:hover {
  -webkit-box-shadow: 6px 6px 8px -1px black;
  -moz-box-shadow: 6px 6px 8px -1px black;
  box-shadow: 6px 6px 8px -1px black;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: hand;
}

.new-list-container {
//  float: left;
  margin: 5px;
  min-width: 200px;
  width: 250px;
  padding: 0px 3px 3px 3px;
  background-color: #2A586B;
  color: #000000;
  border-radius: 3px;
//  position: relative;
}

.add-list-link-container {
  display: block;
  margin: 0px -3px -3px -3px;
  padding: 7px 10px;
}

.add-list-link-container:hover {
  background-color: #1F3F4D;
//  border-bottom-right-radius: 3px;
//  border-bottom-left-radius: 3px;
  border-radius: 3px;
  margin: 0px -3px -3px -3px;
  padding: 7px 10px;
}

a.add-list-link {
  color: white;
}

a.add-card-link {
  color: #000000;
}

.add-card-link-container:hover {
  background-color: #BDBDBD;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.add-card-link-container {
  display: block;
  margin: 2px -3px -3px;
  padding: 7px 10px;
//  border-radius: 3px;
}

.cards-list {
  min-height: 20px;
  clear: both;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 4px 4px 1px;
//  z-index: 1;
  max-height: 388px;
}

.card-block {
  border: 0px black solid;
//  padding: 5px;
//  margin: 3px;
  background-color: #FAFAFA;
  color: #000000;
  border-radius: 3px;
  margin-bottom: 5px;
  max-width: 300px;
  min-height: 20px;
  position: relative;
  display: block;
//  z-index: 0;
  word-wrap: break-word;
  white-space: normal;
  -webkit-box-shadow: 0px 8px 3px -9px black;
  -moz-box-shadow: 0px 8px 3px -9px black;
  box-shadow: 0px 8px 3px -9px black;
}

.card-text {
  padding: 6px 8px 4px;
  position: relative;
  color: #000000;
//  z-index: 10;
}

.card-block:hover {
  background-color: #F0F0F0;
  cursor: move;
}

div.card .modal a {
  color: #000000;
}

.card-descr-form, .card-description {
  padding-left: 50px;
}

.card-descr-textarea {
  background: rgba(0,0,0,0.05);
  -webkit-box-shadow: inset 0 1px 8px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 1px 8px rgba(0, 0, 0, 0.15);
  border-color: #aaa;
  -webkit-transition: background 85ms ease-in,border-color 85ms ease-in;
  transition: background 85ms ease-in,border-color 85ms ease-in;
}

.dragged {
  transform:rotate(-3deg);
  -ms-transform:rotate(-3deg); /* IE 9 */
  -webkit-transform:rotate(-3deg); /* Opera, Chrome, and Safari */
}

.ui-state-highlight {
  border-radius: 4px;
  background-color: #C4C4C4;
  border: 0px #F0F0F0 solid;
  margin-bottom: 5px;
}

.ui-state-list-highlight {
  border-radius: 4px;
  background-color: #2A586B;
  margin-bottom: 5px;
}

.list-header {
  background-color: #DBDBDB;
  position: relative;
  padding: 3px 26px 2px 6px;
  min-height: 19px;
  white-space: normal;
}

.content {
  width: 80%;
}

.btn-transparent {
  background-color: transparent;
}

.btn-danger {
  opacity: 0.4;
}

.btn-danger:hover {
  opacity: 1;
}

.btn-cancel {
  color: #8A8A8A;
  display: inline-block;
  background-color: transparent;
  margin-top: 4px;
//  line-height: 30px;
}

button.new-list, button.new-card, .btn-create-list {
  margin-top: 3px;
  margin-bottom: -3px;
  margin-left: 5px;
}

button.cancel-member {
  margin-right: 0px;
}

.new-list-input {
  margin-top: 8px;
  width: 95%;
}

.new-item-input {
//  margin-top: 8px;
  width: 97%;
}

.member-email-input {
  width: 67%;
}

.remove-card, .remove-list {
  float: right;
}

.remove-list {
  padding: 4px 5px;
  position: absolute;
  top: 4px;
  right: 4px;
  display: block;
}

.remove-card {
  padding: 2px;
}

.glyphicon-trash {
  display: block;
}