/*
 *
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

$navbar-height: 40px;
$navbar-default-bg: #D1D1D1;
$navbar-default-link-hover-bg: #ddd;

@import "bootstrap";

.container {
  margin: 0 5px;
  border: 1px green solid;
  min-width: 100%;
  overflow: visible;
}

.board {
//  overflow: hidden;
  border: 1px red solid;
}

.board-member-panel {
  width: 20%;
}

.lists {
//  overflow: hidden;
//  clear: both;
  border: 1px blue solid;
}

.list-container {
//  float: left;
  border: 0px black solid;
  margin: 10px;
  width: 20%;
  padding: 0px;
  background-color: #DBDBDB;
  color: #000000;
  display: inline-block;
  border-radius: 8px;
//  position: fixed;
}

.card-block {
  border: 0px black solid;
  padding: 5px;
  margin: 3px;
  background-color: #FAFAFA;
  color: #000000;
}

.card-block:hover {
  background-color: #F0F0F0;
  cursor: move;
}

.dragged {
  transform:rotate(-6deg);
  -ms-transform:rotate(-6deg); /* IE 9 */
  -webkit-transform:rotate(-6deg); /* Opera, Chrome, and Safari */
}

.cards-list {
  min-height: 8px;
}

.ui-state-highlight {
  border-radius: 8px;
  background-color: #C4C4C4;
  border: 0px #F0F0F0 solid;
}

.list-header {
//  text-shadow: 2px 2px #FFFFFF;
  background-color: #DBDBDB;
  margin: 20px;
  margin-bottom: 0;
}

.content {
  width: 80%;
}

div.add-card-link {
  float: bottom;
//  color: #000000;
//  border: 1px black solid;
}

.add-list-button {
  clear: both;
}

.remove-card, .remove-list {
  float: right;
}

.btn-danger {
  opacity: 0.4;
}

.btn-danger:hover {
  opacity: 1;
}