/*
 *
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap";

.list-container {
  float: left;
  border: 1px black solid;
  margin: 10px;
  width: 300px;
  padding: 10px;
  padding-bottom: 0px;
  background-color: #D1D1D1;
  color: #000000;
  display: inline-block;
}

.card-block {
  border: 0px black solid;
  padding: 8px;
  margin: 2px;
  background-color: #F0F0F0;
  color: #000000;
}

.list-header {
//  text-shadow: 2px 2px #FFFFFF;
  background-color: #D1D1D1;
  margin: 10px;
}

.content {
  width: 80%;
}

div.add-card-link {
  float: bottom;
//  color: #000000;
//  border: 1px black solid;
}

.add-list-button {
  clear: both;
}