<!-- <h4>Add List</h4> -->

<form role="form">
  <input type="hidden" name="list[board_id]" value="<%= boardID %>" id="list_board_id">
  <input type="hidden" name="list[rank]" value="<%= rank %>" id="list_rank">

  <div align="center">
  <input type="text" name="list[title]" class="new-list-input form-control input-sm" id="title" placeholder="Untitled List" autofocus>
  </div>

  <button type="submit" class="new-list btn btn-success btn-med">Create</button> <button class="cancel-new-list btn btn-lg btn-cancel"><span class="glyphicon glyphicon-remove"></span></button>
</form>