<!-- <h4>Add List</h4> -->

<form role="form">
  <input type="hidden" name="list[board_id]" value="<%= boardID %>" id="list_board_id">
  <input type="hidden" name="list[rank]" value="<%= rank %>" id="list_rank">

  <input type="text" name="list[title]" class="form-control input-sm" id="title" placeholder="Untitled List">
    

  <button type="submit" class="new-list btn btn-success btn-med">Create</button> <button class="btn btn-create-list"><a class=""><span class="glyphicon glyphicon-remove"></span></a></button>
</form>