<div class="list-container panel panel-default dragged">

    <h3 class="list-header"><%= list.escape("title") %> <%= list.escape("rank") %> <button class="remove-list btn btn-default btn-xs">Remove</button></h3>
  
  <div class="panel-body">

  <% if(cards.length !== 0) { %>
    <div class="cards-list">
    </div>
  <% } %>
      
  <br>
 
 <div class="add-card-container">
   
    <div class="add-card-link"><a href="#" class="add-card-link">Add a card...</a></div>
    <div class="new-card-form" id="<%= list.id %>">
    </div>
   
  </div>
</div>