<div class="list-container">

  <center>
    <h3 class="list-header"><%= list.escape("title") %></h3>
    <button class="remove-list btn btn-default btn-xs">Remove</button>
  </center>

    <% if(cards.length !== 0) { %>
      <br>
      <ol class="cards">
      </ol>
    <% } %>
      
      <br><br>
  <center>
    <a href="#" class ="add-card-form">Add a card</a>
    <div class="new-card-form">
    </div>
  </center>
</div>