<li>
  <%= list.escape("title") %> <button class="remove-list btn btn-default btn-xs">Remove</button>
  
  <ul>
    <% if(cards.length !== 0) { %>
      
      <li>Cards</li>
      
      <ul class="cards">
      </ul>
      
    <% } %>
  </ul>
</li>